
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><a href="/topic">Contact us!</a></h1>
    <article class="">
      <form class="" action="/topic/add" method="post">
        <p>
          <input type="text" name="title" placeholder='title'>
        </p>
        <p>
          <textarea name="description" placeholder="description"></textarea>
        </p>
        <p>
          <input type="text" name="author" placeholder="author">
        </p>
        <p>
          <input type="submit" name="" value="">
        </p>
      </form>
    </article>
  </body>
</html>
